/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body {
  background-color: black;
}

:root {
  background-color: black;
}

.whatlogo {
  width: 40px;
}

.whatlogo:hover {
  box-shadow: 0 0 5px rgb(144, 0, 255);
}

.nav-item {
  margin-right: 80px;
}
.navbar {
  
  padding-bottom: 0 ;
}
.footer {
  position:absolute;
  width: 100%;
  bottom: 0;
}
.h1-1 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #ffffff;
  text-shadow: 0 0 25px rgb(144, 0, 255);
}
h1 {
  margin-top: 100px;
  margin-bottom: 150px;
  color: #b046b4;
  text-shadow: 0 0 25px rgb(144, 0, 255);
}
p {
   color: #b046b4;
  text-shadow: 0 0 25px rgb(144, 0, 255);
}

.about-us {
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 50px;
}
.nuestros-artistas {
  font-weight: bold;
  float: center;
}

.about-us p {
  float: left;
  width: 50%;
  color: white;
  font-weight: bold;
  text-align: justify;
  margin-left: 50px;
  margin-top: 50px;
}

.about-us img {
  float: right;
  width: 50%;
  height: 300px;
  object-fit: cover;
  object-position: left;
  margin-left: 50px;
  border-radius: 50px;

}

.shadow__btn {
  margin-top: 50px;
  margin-left: 150px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: #b046b4;
  box-shadow: 0 0 25px rgb(144, 0, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(144, 0, 255), 0 0 25px rgb(144, 0, 255),
    0 0 50px rgb(144, 0, 255), 0 0 100px rgb(144, 0, 255);
}

.nuestros-artistas {
  color: white;
}

.shadow__btn1 {
  margin-top: 100px;
  margin-left: 0px;
  margin-bottom: 100px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: #b046b4;
  box-shadow: 0 0 25px rgb(144, 0, 255);
}

.shadow__btn1:hover {
  box-shadow: 0 0 5px rgb(144, 0, 255), 0 0 25px rgb(144, 0, 255),
    0 0 50px rgb(144, 0, 255), 0 0 100px rgb(144, 0, 255);
}

.cards {
  display: flex;

}


.what {
  color: rgb(144, 0, 255);
}

.navbar:hover {
  text-shadow: 0 0 15px rgb(144, 0, 255);
}

.navbar {
  font-weight: bold;
}

#cardsHomeContainer{

margin-left: 3%;
width: 100%;

}

.cardhome{
 responsive: true;
  
  width: 250px;
  height: 454px;
  margin-top: 5%;
  margin-left: 5%;
  background-size: cover;
  border-radius: 20px;
  transition: all 0.3s;
  
}

.cardhome:hover{
  box-shadow: 0px 0px 30px 1px rgb(144, 0, 255);
  width: 300px;
  height: 500px;
}

.card1 {
  background-image: url("https://i.pinimg.com/236x/41/38/b6/4138b6d05904e84dc82fab2811578035.jpg");
  @media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
}

.card1:hover {
  background-image: url("https://i.pinimg.com/236x/af/cf/d6/afcfd6e0b2fa861b12bc9cf630ff4b80.jpg");
}

.card2{
  background-image: url("https://i.pinimg.com/236x/96/b8/ec/96b8ec95c2b02ad758d2854c27320c71.jpg");
}

.card2:hover {
  background-image: url("https://i.pinimg.com/564x/80/91/93/80919311b65dee516ef2c704cf2e0ce6.jpg");
}

.card3 {
  background-image: url("https://i.pinimg.com/236x/e2/2a/3b/e22a3be7353101d8f99bbf92e97d3903.jpg");
}

.card3:hover {
  background-image: url("https://i.pinimg.com/236x/97/bb/72/97bb729714fdd94ed0bcd7fb2de83712.jpg");
}

.card4 {
  background-image: url("https://i.pinimg.com/236x/17/07/d4/1707d44eb134c8c0fd61b1ea96db0e55.jpg");
}

.card4:hover {
  background-image: url("https://i.pinimg.com/236x/26/4b/39/264b396a01bf41f444596517f5d485c9.jpg");
}
.seg_titulo{
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.terc_titulo{
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em blue;
  font-weight: 800;
}
.icon-shape{
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em blue;
  font-weight: 800;
}

.titu_exp {
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em blue;
  font-weight: 800;
}
.titu_prof {
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em blue;
  font-weight: 800;
}
.boton_header  {
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.836), 12px 16px 20px 0 rgba(0, 0, 0, 0.19)9;
  color: white;
  font-weight: bold;  
}



.animated-shadow {
  color: #000000;
  font: normal 50px Varela Round, sans-serif;
  height: 15px;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2
}
/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 #13f1fc,
      -3px -3px 0 #13f1fc,
      -2px -2px 0 #13f1fc,
      -1px -1px 0 #13f1fc,
      4px 4px 0 #da0641,
      3px 3px 0 #da0641,
      2px 2px 0 #da0641,
      1px 1px 0 #da0641
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 #da0641,
      -3px 3px 0 #da0641,
      -2px 2px 0 #da0641,
      -1px 1px 0 #da0641,
      4px -4px 0 #13f1fc,
      3px -3px 0 #13f1fc,
      2px -2px 0 #13f1fc,
      1px -1px 0 #13f1fc
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 #13f1fc,
      3px 3px 0 #13f1fc,
      2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc,
      -4px -4px 0 #da0641,
      -3px -3px 0 #da0641,
      -2px -2px 0 #da0641,
      -1px -1px 0 #da0641
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 #da0641,
      3px -3px 0 #da0641,
      2px -2px 0 #da0641,
      1px -1px 0 #da0641,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc
    ;
  }
}