.table-container {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
  }
  
  .table th {
    background-color: #000000;
    color: rgb(166, 8, 214);
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  